.forgetPassword,
.frameChild {
  align-self: stretch;
  font-weight: 500;
}
.frameChild {
  border: 0;
  font-family: Inter;
  font-size: 14px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.forgetPassword {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  color: inherit;
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: right;
  font-size: 14px;
  color: #3949a1;
  font-family: Inter;
}
