<<<<<<< HEAD:src/pages/Login/Login.css
@media (max-width: 768px) {
  .login-login {
    flex-direction: column; /* Pour les afficher en colonne */
    /* Ajoutez d'autres styles pour une meilleure expérience mobile */
  }
  .login-frameParent {
    gap: 20px; /* Ajustez l'espacement pour les écrans plus petits */
  }
}
.login-loginChild {
=======
.loginChild {
>>>>>>> f8c96f0f67781a9378d5b53c7bcfb3f24a78e4db:src/pages/Login/Login.module.css
  position: absolute;
  top: 596px;
  left: 779px;
  width: 661px;
  height: 404px;
  opacity: 0.6;
}
.loginInner,
.loginItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 637px;
  height: 468px;
}
.loginInner {
  top: 16px;
  left: 16px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  width: 704px;
  height: 968px;
}
.image1Icon {
  position: relative;
  width: 188.6px;
  height: 56px;
  object-fit: cover;
}
.welcomeToWenlo {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 500;
}
.frameGroup,
.image1Parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.frameGroup {
  gap: 96px;
}
.login1 {
  position: relative;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.loginWrapper {
  cursor: pointer;
  border: 0;
  padding: 13px 14px;
  background-color: #3949a1;
  border-radius: 8px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.loginWrapper:hover {
  background-color: #142aa4;
}
.doesntHaveAn {
  font-weight: 500;
}
.signUp {
  font-weight: 600;
  color: #3949a1;
}
.doesntHaveAnContainer {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  color: inherit;
}
<<<<<<< HEAD:src/pages/Login/Login.css
.login-frameContainer,
.login-frameContainer {
=======
.frameContainer,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameContainer {
>>>>>>> f8c96f0f67781a9378d5b53c7bcfb3f24a78e4db:src/pages/Login/Login.module.css
  width: 214px;
  height: 87px;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
  font-size: 14px;
  color: #939393;
}
.frameParent {
  position: absolute;
  top: 194px;
  left: 900px;
  height: 532px;
  justify-content: center;
  gap: 40px;
}
.frameChild,
.frameItem {
  position: relative;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.frameChild {
  object-fit: cover;
}
.frameItem {
  background-color: #d9d9d9;
}
.ellipseParent {
  position: absolute;
  top: 938px;
  left: 316px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.loremIpsumDolor,
.sedDoEiusmod {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 120%;
  display: inline-block;
  width: 424px;
}
.sedDoEiusmod {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  width: 528px;
}
.astronautParent,
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 56px;
}
.astronautParent {
  position: absolute;
  top: 120px;
  left: 104px;
  gap: 24px;
  text-align: center;
  font-size: 32px;
}
<<<<<<< HEAD:src/pages/Login/Login.css
.login-login {
  display: flex;
  align-items: center;
  justify-content: center;
=======
.login {
>>>>>>> f8c96f0f67781a9378d5b53c7bcfb3f24a78e4db:src/pages/Login/Login.module.css
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #26283f;
  font-family: Inter;
}
