.container {
  display: flex;
  align-items: center;
  padding: 14px 19px;
  width: 100%;
  background: #f2f5f9;
  border-bottom: 1px solid #E8EBED;
  * {
    color: #26283f;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
  }
  a {
    text-decoration: none;
    color: #828282;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
  }
}
