.loremIpsumDolor,
.sedDoEiusmod {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 120%;
  display: inline-block;
  width: 424px;
}
.sedDoEiusmod {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  width: 528px;
}
.loremIpsumDolorSitAmetCoParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.amountDue,
.invoicesAreIssued {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
}
.invoicesAreIssued {
  font-size: 12px;
  line-height: 130%;
  color: #939393;
  display: inline-block;
  width: 236px;
}
.amountDueParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.moreVertIcon {
  position: relative;
  width: 14px;
  height: 14px;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
}
.b,
.payNow {
  position: relative;
  line-height: 100%;
}
.b {
  letter-spacing: -0.41px;
}
.payNow {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.parent,
.payNowWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.payNowWrapper {
  cursor: pointer;
  border: 0;
  padding: 9px 14px;
  background-color: #3949a1;
  border-radius: 8px;
  width: 112px;
}
.payNowWrapper:hover {
  background-color: #142aa4;
}
.parent {
  border-bottom: 1px solid #ebebeb;
  width: 400px;
  padding: 0 0 16px;
  font-size: 16px;
}
.accountSpendingLimit {
  font-weight: 500;
}
.groupChild {
  border-radius: 16px;
  background-color: rgba(224, 81, 99, 0.1);
  width: 400px;
}
.groupChild,
.groupItem,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
}
.groupItem {
  border-radius: 16px;
  background-color: #e05163;
  width: 196px;
}
.rectangleParent {
  width: 400px;
}
.groupWrapper {
  position: relative;
  width: 296px;
  height: 6px;
}
.accountSpendingLimit2781Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frameChild {
  position: relative;
  border-radius: 50%;
  background-color: #e05163;
  width: 6px;
  height: 6px;
}
.available {
  font-weight: 600;
  color: #3949a1;
}
.spent2781000Container {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  display: inline-block;
  width: 296px;
  flex-shrink: 0;
}
.ellipseParent,
.frameContainer {
  display: flex;
  justify-content: flex-start;
}
.ellipseParent {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #939393;
}
.frameContainer {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e8e8;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  z-index: 2;
}
.payNow1 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.group,
.payNowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.payNowContainer {
  border-radius: 8px;
  background-color: #3949a1;
  width: 112px;
  padding: 9px 14px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}
.group {
  align-self: stretch;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 16px;
  font-size: 16px;
}
.groupInner {
  border-radius: 16px;
  background-color: rgba(224, 81, 99, 0.1);
}
.groupInner,
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 6px;
}
.frameParent2 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  gap: 16px;
  z-index: 1;
  margin-top: -218px;
}
.groupChild1 {
  border-radius: 16px;
  background-color: rgba(224, 81, 99, 0.1);
}
.groupChild1,
.rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 6px;
}
.astronautParent,
.frameGroup,
.frameParent,
.frameParent5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent5 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  width: 376px;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  z-index: 0;
  margin-top: -218px;
}
.astronautParent,
.frameGroup,
.frameParent {
  align-items: center;
}
.frameGroup {
  text-align: left;
  font-size: 14px;
}
.astronautParent,
.frameParent {
  gap: 56px;
}
.astronautParent {
  position: absolute;
  top: 120px;
  left: 104px;
  gap: 24px;
  text-align: center;
  font-size: 32px;
  color: #26283f;
  font-family: Inter;
}
