
.container-comp-loremIpsumDolor,
.container-comp-sedDoEiusmod {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 120%;
  display: inline-block;
  width: 424px;
}
.container-comp-sedDoEiusmod {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  width: 528px;
}
.container-comp-loremIpsumDolorSitAmetCoParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.container-comp-amountDue,
.container-comp-invoicesAreIssued {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
}
.container-comp-invoicesAreIssued {
  font-size: 12px;
  line-height: 130%;
  color: #939393;
  display: inline-block;
  width: 236px;
}
.container-comp-amountDueParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.container-comp-moreVertIcon {
  position: relative;
  width: 14px;
  height: 14px;
}
.container-comp-frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
}
.container-comp-b,
.container-comp-payNow {
  position: relative;
  line-height: 100%;
}
.container-comp-b {
  letter-spacing: -0.41px;
}
.container-comp-payNow {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.container-comp-parent,
.container-comp-payNowWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-comp-payNowWrapper {
  cursor: pointer;
  border: 0;
  padding: 9px 14px;
  background-color: #3949a1;
  border-radius: 8px;
  width: 112px;
}
.container-comp-payNowWrapper:hover {
  background-color: #142aa4;
}
.container-comp-parent {
  border-bottom: 1px solid #ebebeb;
  width: 400px;
  padding: 0 0 16px;
  font-size: 16px;
}
.container-comp-accountSpendingLimit {
  font-weight: 500;
}
.container-comp-groupChild {
  border-radius: 16px;
  background-color: rgba(224, 81, 99, 0.1);
  width: 400px;
}
.container-comp-groupChild,
.container-comp-groupItem,
.container-comp-rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
}
.container-comp-groupItem {
  border-radius: 16px;
  background-color: #e05163;
  width: 196px;
}
.container-comp-rectangleParent {
  width: 400px;
}
.container-comp-groupWrapper {
  position: relative;
  width: 296px;
  height: 6px;
}
.container-comp-accountSpendingLimit2781Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.container-comp-frameChild {
  position: relative;
  border-radius: 50%;
  background-color: #e05163;
  width: 6px;
  height: 6px;
}
.container-comp-available {
  font-weight: 600;
  color: #3949a1;
}
.container-comp-spent2781000Container {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  display: inline-block;
  width: 296px;
  flex-shrink: 0;
}
.container-comp-ellipseParent,
.container-comp-frameContainer {
  display: flex;
  justify-content: flex-start;
}
.container-comp-ellipseParent {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #939393;
}
.container-comp-frameContainer {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e8e8;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  z-index: 2;
}
.container-comp-payNow1 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.container-comp-group,
.container-comp-payNowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-comp-payNowContainer {
  border-radius: 8px;
  background-color: #3949a1;
  width: 112px;
  padding: 9px 14px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}
.container-comp-group {
  align-self: stretch;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 16px;
  font-size: 16px;
}
.container-comp-groupInner {
  border-radius: 16px;
  background-color: rgba(224, 81, 99, 0.1);
}
.container-comp-groupInner,
.container-comp-rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 6px;
}
.container-comp-frameParent2 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  gap: 16px;
  z-index: 1;
  margin-top: -218px;
}
.container-comp-groupChild1 {
  border-radius: 16px;
  background-color: rgba(224, 81, 99, 0.1);
}
.container-comp-groupChild1,
.container-comp-rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 6px;
}
.container-comp-astronautParent,
.container-comp-frameGroup,
.container-comp-frameParent,
.container-comp-frameParent5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container-comp-frameParent5 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  width: 376px;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  z-index: 0;
  margin-top: -218px;
}
.container-comp-astronautParent,
.container-comp-frameGroup,
.container-comp-frameParent {
  align-items: center;
}
.container-comp-frameGroup {
  text-align: left;
  font-size: 14px;
}
.container-comp-astronautParent,
.container-comp-frameParent {
  gap: 56px;
}
.container-comp-astronautParent {
  position: absolute;
  top: 120px;
  left: 104px;
  gap: 24px;
  text-align: center;
  font-size: 32px;
  color: #26283f;
  font-family: Inter;
}
