.setPasswordChild,
.setPasswordItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 637px;
  height: 468px;
}
.setPasswordItem {
  top: 16px;
  left: 16px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  width: 704px;
  height: 968px;
}
.frameChild,
.frameItem {
  position: relative;
  border-radius: 50%;
  background-color: #262626;
  width: 14px;
  height: 14px;
}
.frameItem {
  background-color: #d9d9d9;
}
.ellipseParent {
  position: absolute;
  top: 938px;
  left: 316px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.image1Icon {
  position: relative;
  width: 188.6px;
  height: 56px;
  object-fit: cover;
}
.welcomeToWenlo {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 500;
}
.image1Parent {
  position: absolute;
  top: 120px;
  left: 986px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
}
.continue {
  position: relative;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.continueWrapper {
  cursor: pointer;
  border: 0;
  padding: 13px 14px;
  background-color: #3949a1;
  border-radius: 8px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.continueWrapper:hover {
  background-color: #142aa4;
}
.didntGetA {
  font-weight: 500;
}
.resendCode {
  font-weight: 600;
  color: #3949a1;
}
.didntGetAContainer {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
}
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.frameParent {
  position: absolute;
  top: 404px;
  left: 768px;
  width: 624px;
  gap: 40px;
  opacity: 0.9;
  font-size: 14px;
  color: #939393;
}
.forgetPassword,
.weHaveSent {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  display: inline-block;
  width: 424px;
}
.weHaveSent {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  width: 528px;
}
.forgetPasswordParent {
  position: absolute;
  top: 264px;
  left: 816px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  font-size: 32px;
}
.setPassword {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #26283f;
  font-family: Inter;
}
