.image1Icon {
  position: relative;
  width: 188.6px;
  height: 56px;
  object-fit: cover;
}
.pricingPlan,
.sedDoEiusmod {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  display: inline-block;
  width: 424px;
}
.sedDoEiusmod {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  width: 528px;
}
.image1Parent,
.pricingPlanParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.image1Parent {
  gap: 96px;
}
.monthly {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 600;
}
.frameChild,
.frameItem {
  position: relative;
  border-radius: 50%;
  background-color: #3949a1;
  width: 16px;
  height: 16px;
}
.frameItem {
  background-color: #fff;
}
.ellipseParent {
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}
.annually {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
  color: #939393;
}
.frameParent,
.monthlyParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
  font-size: 20px;
  color: #424242;
}
.frameParent {
  position: absolute;
  top: 80px;
  left: 456px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  font-size: 32px;
  color: #26283f;
  font-family: Inter;
}
