.pricingPaymentMethodChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 637px;
  height: 468px;
}
.image1Icon {
  position: relative;
  width: 188.6px;
  height: 56px;
  object-fit: cover;
}
.choosePaymentMethod,
.sedDoEiusmod {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  display: inline-block;
  width: 424px;
}
.sedDoEiusmod {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  width: 528px;
}
.choosePaymentMethodParent {
  gap: 16px;
}
.choosePaymentMethodParent,
.image1Parent,
.pricingPaymentMethodInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.image1Parent {
  gap: 96px;
}
.pricingPaymentMethodInner {
  position: absolute;
  top: 80px;
  left: 456px;
}
.back {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  z-index: 0;
}
.groupChild,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 32px;
  background-color: #3949a1;
  filter: blur(24px);
  width: 26.4px;
  height: 28px;
}
.groupItem {
  left: 1.6px;
  background-color: #39a191;
}
.rectangleGroup,
.rectangleParent {
  position: absolute;
  margin: 0 !important;
  top: -6px;
  left: 8px;
  width: 28px;
  height: 28px;
  display: none;
  opacity: 0.07;
  z-index: 1;
}
.rectangleGroup {
  top: 29px;
  left: 107px;
  z-index: 2;
}
.backParent {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 17px 48px;
  position: relative;
  gap: 8px;
}
.payNow {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.frameParent,
.payNowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.payNowWrapper {
  border-radius: 8px;
  background-color: #3949a1;
  width: 129px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 17px 40px;
  box-sizing: border-box;
  color: #fff;
}
.frameParent {
  position: absolute;
  top: 1035px;
  left: 108px;
  width: 1224px;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
}
.premiumPlan,
.saveUpTo {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 600;
}
.saveUpTo {
  font-weight: 500;
}
.saveUpTo15Wrapper {
  border-radius: 3px;
  background-color: rgba(52, 153, 89, 0.12);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 6px;
  text-align: left;
  font-size: 12px;
  color: #349959;
}
.premiumPlanParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sedDoEiusmod1 {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  letter-spacing: -0.41px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  text-align: left;
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.nextRenew24 {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
  color: #939393;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.frameContainer,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  text-align: left;
  font-size: 24px;
}
.frameContainer {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 16px;
  gap: 16px;
}
.span {
  color: #db242f;
}
.choosedPaymentMethodContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 140%;
  font-weight: 500;
}
.stripeIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.debitCardParent,
.item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.item {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #3949a1;
  justify-content: center;
  padding: 14px;
}
.afterChoosedThePaymentMethParent,
.tab {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tab {
  border-radius: 4px;
  flex-direction: row;
  text-align: center;
  color: #26283f;
}
.afterChoosedThePaymentMethParent {
  flex-direction: column;
  gap: 12px;
}
.copy01Icon {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.gabrielaHudgesParent {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 14px;
  gap: 8px;
  color: #26283f;
}
.visa11 {
  position: relative;
  width: 32px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent2,
.frameParent3,
.frameParent4,
.group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.group {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 13px 14px;
  color: #26283f;
}
.frameParent2,
.frameParent3,
.frameParent4 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.frameParent2,
.frameParent3 {
  flex-direction: column;
  gap: 24px;
}
.frameParent2 {
  border-radius: 10px;
  border: 1px solid #ebebeb;
  padding: 16px;
}
.choosedPaymentMethodParent {
  align-self: stretch;
  gap: 12px;
  text-align: left;
  font-size: 14px;
  color: #939393;
}
.choosedPaymentMethodParent,
.frameDiv,
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  gap: 16px;
}
.frameDiv {
  position: absolute;
  top: 376px;
  left: calc(50% - 200px);
  width: 400px;
  font-size: 20px;
}
.overlay,
.overlayWrapper {
  position: absolute;
  width: 1440px;
  height: 960px;
}
.overlay {
  top: calc(50% - 480px);
  left: calc(50% - 720px);
  background-color: #1c1c1c;
  opacity: 0.3;
}
.overlayWrapper {
  top: 0;
  left: 0;
}
.pricingPaymentMethod {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 960px;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  color: #26283f;
  font-family: Inter;
}
