.pricing-payment-method-pricingPaymentMethodChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 637px;
  height: 468px;
}
.pricing-payment-method-image1Icon {
  position: relative;
  width: 188.6px;
  height: 56px;
  object-fit: cover;
}
.pricing-payment-method-choosePaymentMethod,
.pricing-payment-method-sedDoEiusmod {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  display: inline-block;
  width: 424px;
}
.pricing-payment-method-sedDoEiusmod {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  width: 528px;
}
.pricing-payment-method-choosePaymentMethodParent {
  gap: 16px;
}
.pricing-payment-method-choosePaymentMethodParent,
.pricing-payment-method-image1Parent,
.pricing-payment-method-pricingPaymentMethodInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pricing-payment-method-image1Parent {
  gap: 96px;
}
.pricing-payment-method-pricingPaymentMethodInner {
  position: absolute;
  top: 80px;
  left: 456px;
}
.pricing-payment-method-back {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  z-index: 0;
}
.pricing-payment-method-groupChild,
.pricing-payment-method-groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 32px;
  background-color: #3949a1;
  filter: blur(24px);
  width: 26.4px;
  height: 28px;
}
.pricing-payment-method-groupItem {
  left: 1.6px;
  background-color: #39a191;
}
.pricing-payment-method-rectangleGroup,
.pricing-payment-method-rectangleParent {
  position: absolute;
  margin: 0 !important;
  top: -6px;
  left: 8px;
  width: 28px;
  height: 28px;
  display: none;
  opacity: 0.07;
  z-index: 1;
}
.pricing-payment-method-rectangleGroup {
  top: 29px;
  left: 107px;
  z-index: 2;
}
.pricing-payment-method-backParent {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 17px 48px;
  position: relative;
  gap: 8px;
}
.pricing-payment-method-payNow {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.pricing-payment-method-frameParent,
.pricing-payment-method-payNowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pricing-payment-method-payNowWrapper {
  border-radius: 8px;
  background-color: #3949a1;
  width: 129px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 17px 40px;
  box-sizing: border-box;
  color: #fff;
}
.pricing-payment-method-frameParent {
  position: absolute;
  top: 1035px;
  left: 108px;
  width: 1224px;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
}
.pricing-payment-method-premiumPlan,
.pricing-payment-method-saveUpTo {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 600;
}
.pricing-payment-method-saveUpTo {
  font-weight: 500;
}
.pricing-payment-method-saveUpTo15Wrapper {
  border-radius: 3px;
  background-color: rgba(52, 153, 89, 0.12);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 6px;
  text-align: left;
  font-size: 12px;
  color: #349959;
}
.pricing-payment-method-premiumPlanParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pricing-payment-method-sedDoEiusmod1 {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  letter-spacing: -0.41px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
  text-align: left;
}
.pricing-payment-method-frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.pricing-payment-method-nextRenew24 {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
  color: #939393;
}
.pricing-payment-method-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.pricing-payment-method-frameContainer,
.pricing-payment-method-frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-payment-method-frameWrapper {
  text-align: left;
  font-size: 24px;
}
.pricing-payment-method-frameContainer {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 16px;
  gap: 16px;
}
.pricing-payment-method-span {
  color: #db242f;
}
.pricing-payment-method-choosedPaymentMethodContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 140%;
  font-weight: 500;
}
.pricing-payment-method-stripeIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.pricing-payment-method-debitCardParent,
.pricing-payment-method-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pricing-payment-method-item {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #3949a1;
  justify-content: center;
  padding: 14px;
}
.pricing-payment-method-afterChoosedThePaymentMethParent,
.pricing-payment-method-tab {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-payment-method-tab {
  border-radius: 4px;
  flex-direction: row;
  text-align: center;
  color: #26283f;
}
.pricing-payment-method-afterChoosedThePaymentMethParent {
  flex-direction: column;
  gap: 12px;
}
.pricing-payment-method-copy01Icon {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.pricing-payment-method-gabrielaHudgesParent {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 14px;
  gap: 8px;
  color: #26283f;
}
.pricing-payment-method-visa11 {
  position: relative;
  width: 32px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing-payment-method-frameParent2,
.pricing-payment-method-frameParent3,
.pricing-payment-method-frameParent4,
.pricing-payment-method-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.pricing-payment-method-group {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 13px 14px;
  color: #26283f;
}
.pricing-payment-method-frameParent2,
.pricing-payment-method-frameParent3,
.pricing-payment-method-frameParent4 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.pricing-payment-method-frameParent2,
.pricing-payment-method-frameParent3 {
  flex-direction: column;
  gap: 24px;
}
.pricing-payment-method-frameParent2 {
  border-radius: 10px;
  border: 1px solid #ebebeb;
  padding: 16px;
}
.pricing-payment-method-choosedPaymentMethodParent {
  align-self: stretch;
  gap: 12px;
  text-align: left;
  font-size: 14px;
  color: #939393;
}
.pricing-payment-method-choosedPaymentMethodParent,
.pricing-payment-method-frameDiv,
.pricing-payment-method-frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-payment-method-frameGroup {
  align-self: stretch;
  gap: 16px;
}
.pricing-payment-method-frameDiv {
  position: absolute;
  top: 376px;
  left: calc(50% - 200px);
  width: 400px;
  font-size: 20px;
}
.pricing-payment-method-overlay,
.pricing-payment-method-overlayWrapper {
  position: absolute;
  width: 1440px;
  height: 960px;
}
.pricing-payment-method-overlay {
  top: calc(50% - 480px);
  left: calc(50% - 720px);
  background-color: #1c1c1c;
  opacity: 0.3;
}
.pricing-payment-method-overlayWrapper {
  top: 0;
  left: 0;
}
.pricing-payment-method-pricingPaymentMethod {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 960px;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  color: #26283f;
  font-family: Inter;
}
