.question1-question1Child,
.question1-question1Item {
  position: absolute;
  top: 0;
  left: 0;
  width: 637px;
  height: 468px;
}
.question1-question1Item {
  top: 16px;
  left: 16px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  width: 704px;
  height: 968px;
}
.question1-frameChild,
.question1-frameItem {
  position: relative;
  border-radius: 50%;
  background-color: #262626;
  width: 14px;
  height: 14px;
}
.question1-frameItem {
  background-color: #d9d9d9;
}
.question1-ellipseParent {
  position: absolute;
  top: 938px;
  left: 316px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.question1-image1Icon {
  position: relative;
  width: 188.6px;
  height: 56px;
  object-fit: cover;
}
.question1-welcomeToWenlo {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 500;
}
.question1-image1Parent {
  position: absolute;
  top: 120px;
  left: 986px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.question1-frameChild1,
.question1-vectorIcon {
  position: absolute;
  top: 11px;
  left: 35.5px;
  width: 155px;
  height: 2px;
}
.question1-frameChild1 {
  left: 212.5px;
}
.question1-frameChild2 {
  position: relative;
  border-radius: 50%;
  background-color: #3949a1;
  border: 5px solid #3949a1;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.question1-ellipseGroup {
  position: absolute;
  top: 0;
  left: -23px;
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.question1-frameChild3 {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #3949a1;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.question1-ellipseContainer {
  position: absolute;
  top: 0;
  left: 154px;
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.question1-frameChild4 {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.question1-frameDiv {
  position: absolute;
  top: 0;
  left: 331px;
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  color: #939393;
}
.question1-vectorParent {
  position: absolute;
  top: 264px;
  left: 870px;
  width: 420px;
  height: 54px;
  opacity: 0.9;
}
.question1-frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.question1-previous {
  position: relative;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter;
  color: #26283f;
  text-align: left;
}
.question1-previousWrapper {
  cursor: pointer;
  border: 1px solid #e0e0e0;
  padding: 13px 14px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.question1-next {
  position: relative;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.question1-nextWrapper {
  cursor: pointer;
  border: 0;
  padding: 13px 14px;
  background-color: #3949a1;
  border-radius: 8px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.question1-nextWrapper:hover {
  background-color: #142aa4;
}
.question1-frameContainer,
.question1-frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.question1-frameParent {
  position: absolute;
  top: 414px;
  left: 768px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  opacity: 0.9;
}
.question1-question1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #26283f;
  font-family: Inter;
}
