.frameChild {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #3949a1;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.wenlo {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 500;
}
.ellipseParent {
  position: absolute;
  top: 0;
  left: -23px;
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  color: #26283f;
}
.frameItem {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.ellipseContainer,
.ellipseGroup {
  position: absolute;
  top: 0;
  left: 154px;
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.ellipseContainer {
  left: 331px;
}
.frameChild1,
.frameParent,
.vectorIcon {
  position: absolute;
  top: 11px;
  left: 35.5px;
  width: 155px;
  height: 2px;
}
.frameChild1,
.frameParent {
  left: 212.5px;
}
.frameParent {
  top: 264px;
  left: 870px;
  width: 420px;
  height: 54px;
  text-align: left;
  font-size: 16px;
  color: #939393;
  font-family: Inter;
}
