.premium-plan-card-comp-text,
.premium-plan-card-comp-text1 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.premium-plan-card-comp-text {
  display: inline-block;
  width: 115px;
  flex-shrink: 0;
}
.premium-plan-card-comp-text1 {
  flex: 1;
  color: #26283f;
}
.premium-plan-card-comp-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.premium-plan-card-comp-text8 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.premium-plan-card-comp-itemGroup {
  position: absolute;
  top: 100px;
  left: calc(50% - 240px);
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
  gap: 16px;
  text-align: left;
  font-size: 14px;
  color: #939393;
  font-family: Inter;
}
