.amountDue,
.invoicesAreIssued {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.invoicesAreIssued {
  font-size: 12px;
  line-height: 130%;
  color: #939393;
  display: inline-block;
  width: 236px;
}
.amountDueParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.moreVertIcon {
  position: relative;
  width: 14px;
  height: 14px;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
}
.h4,
.payNow {
  position: relative;
  line-height: 100%;
}
.h4 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.41px;
  font-weight: 700;
  font-family: inherit;
}
.payNow {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.parent,
.payNowWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.payNowWrapper {
  cursor: pointer;
  border: 0;
  padding: 9px 14px;
  background-color: #3949a1;
  border-radius: 8px;
  width: 112px;
}
.payNowWrapper:hover {
  background-color: #142aa4;
}
.parent {
  border-bottom: 1px solid #ebebeb;
  width: 400px;
  padding: 0 0 16px;
  font-size: 16px;
}
.accountSpendingLimit {
  font-weight: 500;
}
.accountSpendingLimitContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-family: inherit;
}
.groupChild {
  border-radius: 16px;
  background-color: rgba(224, 81, 99, 0.1);
  width: 400px;
}
.groupChild,
.groupItem,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
}
.groupItem {
  border-radius: 16px;
  background-color: #e05163;
  width: 196px;
}
.rectangleParent {
  width: 400px;
}
.frameChild,
.groupWrapper {
  position: relative;
  width: 296px;
  height: 6px;
}
.frameChild {
  border-radius: 50%;
  background-color: #e05163;
  width: 6px;
}
.available {
  font-weight: 600;
  color: #3949a1;
}
.spent2781000Container {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.41px;
  line-height: 100%;
  display: inline-block;
  width: 296px;
  flex-shrink: 0;
  font-family: inherit;
}
.ellipseParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 12px;
  color: #939393;
}
.frameDiv {
  align-items: flex-start;
  gap: 12px;
}
.frameDiv,
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameGroup {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e8e8;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  z-index: 2;
}
.frameParent {
  align-items: center;
  text-align: left;
  font-size: 14px;
  color: #26283f;
  font-family: Inter;
}
