.payment-form-comp-text {
  align-self: stretch;
  position: relative;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 14px;
  flex-shrink: 0;
}
.payment-form-comp-supportingText {
  position: relative;
  line-height: 100%;
}
.payment-form-comp-itemName,
.payment-form-comp-textGroup {
  display: flex;
  justify-content: flex-start;
}
.payment-form-comp-textGroup {
  flex-direction: row;
  align-items: center;
  color: #939393;
}
.payment-form-comp-itemName {
  width: 260px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.payment-form-comp-text1 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 14px;
  flex-shrink: 0;
}
.payment-form-comp-textGroup1 {
  flex-direction: row;
  align-items: center;
  text-align: left;
  color: #939393;
}
.payment-form-comp-item,
.payment-form-comp-itemName1,
.payment-form-comp-textGroup1 {
  display: flex;
  justify-content: flex-start;
}
.payment-form-comp-itemName1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
  text-align: right;
}
.payment-form-comp-item {
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
.payment-form-comp-divider,
.payment-form-comp-item,
.payment-form-comp-items {
  align-self: stretch;
}
.payment-form-comp-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-form-comp-divider {
  position: relative;
  background-color: #dee5f0;
  border: 1px solid #e7ecf3;
  box-sizing: border-box;
  height: 1px;
}
.payment-form-comp-text2,
.payment-form-comp-text3 {
  position: relative;
  line-height: 100%;
}
.payment-form-comp-text2 {
  flex: 1;
}
.payment-form-comp-text3 {
  font-weight: 500;
  color: #26283f;
  text-align: right;
}
.payment-form-comp-item1 {
  align-self: stretch;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.payment-form-comp-text6,
.payment-form-comp-text7 {
  position: relative;
  line-height: 100%;
}
.payment-form-comp-text6 {
  flex: 1;
  font-weight: 500;
}
.payment-form-comp-text7 {
  font-weight: 600;
  text-align: right;
}
.payment-form-comp-group,
.payment-form-comp-item3,
.payment-form-comp-summary {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.payment-form-comp-item3 {
  height: 18px;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  color: #26283f;
}
.payment-form-comp-group,
.payment-form-comp-summary {
  flex-direction: column;
  align-items: flex-start;
}
.payment-form-comp-summary {
  gap: 6px;
  color: #939393;
}
.payment-form-comp-group {
  gap: 16px;
}
.payment-form-comp-icon {
  position: relative;
  width: 20px;
  height: 22px;
}
.payment-form-comp-text8,
.payment-form-comp-text9 {
  align-self: stretch;
}
.payment-form-comp-text9 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.payment-form-comp-text8 {
  flex: 1;
  flex-direction: column;
}
.payment-form-comp-alert,
.payment-form-comp-content,
.payment-form-comp-text8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-form-comp-alert {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fffbec;
  border: 1px solid #fbf3e1;
  flex-direction: row;
  padding: 12px 14px;
  gap: 12px;
  color: #918671;
}
.payment-form-comp-content {
  position: absolute;
  top: 372px;
  left: calc(50% - 240px);
  border-bottom: 1px solid #dee5f0;
  box-sizing: border-box;
  width: 480px;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
  text-align: left;
  font-size: 12px;
  color: #26283f;
  font-family: Inter;
}
