.text {
  align-self: stretch;
  position: relative;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 14px;
  flex-shrink: 0;
}
.supportingText {
  position: relative;
  line-height: 100%;
}
.itemName,
.textGroup {
  display: flex;
  justify-content: flex-start;
}
.textGroup {
  flex-direction: row;
  align-items: center;
  color: #939393;
}
.itemName {
  width: 260px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.text1 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 14px;
  flex-shrink: 0;
}
.textGroup1 {
  flex-direction: row;
  align-items: center;
  text-align: left;
  color: #939393;
}
.item,
.itemName1,
.textGroup1 {
  display: flex;
  justify-content: flex-start;
}
.itemName1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
  text-align: right;
}
.item {
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
.divider,
.item,
.items {
  align-self: stretch;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider {
  position: relative;
  background-color: #dee5f0;
  border: 1px solid #e7ecf3;
  box-sizing: border-box;
  height: 1px;
}
.text2,
.text3 {
  position: relative;
  line-height: 100%;
}
.text2 {
  flex: 1;
}
.text3 {
  font-weight: 500;
  color: #26283f;
  text-align: right;
}
.item1 {
  align-self: stretch;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.text6,
.text7 {
  position: relative;
  line-height: 100%;
}
.text6 {
  flex: 1;
  font-weight: 500;
}
.text7 {
  font-weight: 600;
  text-align: right;
}
.group,
.item3,
.summary {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.item3 {
  height: 18px;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  color: #26283f;
}
.group,
.summary {
  flex-direction: column;
  align-items: flex-start;
}
.summary {
  gap: 6px;
  color: #939393;
}
.group {
  gap: 16px;
}
.icon {
  position: relative;
  width: 20px;
  height: 22px;
}
.text8,
.text9 {
  align-self: stretch;
}
.text9 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.text8 {
  flex: 1;
  flex-direction: column;
}
.alert,
.content,
.text8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.alert {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fffbec;
  border: 1px solid #fbf3e1;
  flex-direction: row;
  padding: 12px 14px;
  gap: 12px;
  color: #918671;
}
.content {
  position: absolute;
  top: 372px;
  left: calc(50% - 240px);
  border-bottom: 1px solid #dee5f0;
  box-sizing: border-box;
  width: 480px;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
  text-align: left;
  font-size: 12px;
  color: #26283f;
  font-family: Inter;
}
