.formContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 96px 10px 35px;
  min-width: 500px;
}

.container {
  margin: 48px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .left {
    position: relative;
    align-self: flex-end;
    top: -25px;
    right: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: fit-content;
  }
}

@media only screen and (max-width: 550px) {
  .formContainer {
    min-width: 65vw;
    grid-template-columns: repeat(1, 1fr);
  }
}
