.span {
  color: #db242f;
}
.howDidYouContainer {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
}
.frameChild {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 14px;
}
.howDidYouHearAboutWenloParent {
  width: 558px;
  flex-direction: column;
  gap: 12px;
}
.frameContainer,
.frameWrapper,
.howDidYouHearAboutWenloParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
}
.frameWrapper {
  width: 496px;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  color: #939393;
  font-family: Inter;
}
