.container-with-form-and-buttons-comp-amountDue,
.container-with-form-and-buttons-comp-invoicesAreIssued {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
}
.container-with-form-and-buttons-comp-invoicesAreIssued {
  font-size: 12px;
  line-height: 130%;
  color: #939393;
  display: inline-block;
  width: 236px;
}
.container-with-form-and-buttons-comp-amountDueParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.container-with-form-and-buttons-comp-moreVertIcon {
  position: relative;
  width: 14px;
  height: 14px;
}
.container-with-form-and-buttons-comp-frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
}
.container-with-form-and-buttons-comp-b,
.container-with-form-and-buttons-comp-payNow {
  position: relative;
  line-height: 100%;
}
.container-with-form-and-buttons-comp-b {
  letter-spacing: -0.41px;
}
.container-with-form-and-buttons-comp-payNow {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.container-with-form-and-buttons-comp-parent,
.container-with-form-and-buttons-comp-payNowWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-with-form-and-buttons-comp-payNowWrapper {
  cursor: pointer;
  border: 0;
  padding: 9px 14px;
  background-color: #3949a1;
  border-radius: 8px;
  width: 112px;
}
.container-with-form-and-buttons-comp-payNowWrapper:hover {
  background-color: #142aa4;
}
.container-with-form-and-buttons-comp-parent {
  border-bottom: 1px solid #ebebeb;
  width: 400px;
  padding: 0 0 16px;
  font-size: 16px;
}
.container-with-form-and-buttons-comp-accountSpendingLimit {
  font-weight: 500;
}
.container-with-form-and-buttons-comp-frameChild,
.container-with-form-and-buttons-comp-rectangleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  height: 6px;
}
.container-with-form-and-buttons-comp-frameChild {
  background-color: #e05163;
  width: 196px;
}
.container-with-form-and-buttons-comp-rectangleWrapper {
  background-color: rgba(224, 81, 99, 0.1);
  width: 400px;
}
.container-with-form-and-buttons-comp-frameItem,
.container-with-form-and-buttons-comp-frameWrapper {
  position: relative;
  width: 296px;
  height: 6px;
}
.container-with-form-and-buttons-comp-frameItem {
  border-radius: 50%;
  background-color: #e05163;
  width: 6px;
}
.container-with-form-and-buttons-comp-available {
  font-weight: 600;
  color: #3949a1;
}
.container-with-form-and-buttons-comp-spent2781000Container {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  display: inline-block;
  width: 296px;
  flex-shrink: 0;
}
.container-with-form-and-buttons-comp-ellipseParent,
.container-with-form-and-buttons-comp-frameDiv,
.container-with-form-and-buttons-comp-frameGroup {
  display: flex;
  justify-content: flex-start;
}
.container-with-form-and-buttons-comp-ellipseParent {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #939393;
}
.container-with-form-and-buttons-comp-frameDiv,
.container-with-form-and-buttons-comp-frameGroup {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.container-with-form-and-buttons-comp-frameGroup {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e8e8;
  padding: 20px;
  gap: 16px;
  z-index: 2;
}
.container-with-form-and-buttons-comp-payNow1 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.container-with-form-and-buttons-comp-group,
.container-with-form-and-buttons-comp-payNowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-with-form-and-buttons-comp-payNowContainer {
  border-radius: 8px;
  background-color: #3949a1;
  width: 112px;
  padding: 9px 14px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}
.container-with-form-and-buttons-comp-group {
  align-self: stretch;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 16px;
  font-size: 16px;
}
.container-with-form-and-buttons-comp-rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: rgba(224, 81, 99, 0.1);
  width: 368px;
  height: 6px;
}
.container-with-form-and-buttons-comp-frameParent,
.container-with-form-and-buttons-comp-frameParent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container-with-form-and-buttons-comp-frameParent1 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  width: 408px;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  z-index: 1;
  margin-top: -218px;
}
.container-with-form-and-buttons-comp-frameParent {
  align-items: center;
  text-align: left;
  font-size: 14px;
  color: #26283f;
  font-family: Inter;
}
@media screen and (max-width: 960px) {
  .payNowWrapper {
    width: 112px;
  }
}
