.starter-plan-container-comp-frameChild {
  position: relative;
  border-radius: 50%;
  background-color: rgba(57, 73, 161, 0.1);
  width: 96px;
  height: 96px;
}
.starter-plan-container-comp-starterPlan {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 600;
}
.starter-plan-container-comp-frameItem {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.starter-plan-container-comp-starterPlanParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.starter-plan-container-comp-frameWrapper {
  align-self: stretch;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0 24px;
}
.starter-plan-container-comp-div,
.starter-plan-container-comp-topUpFee {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
}
.starter-plan-container-comp-div {
  color: #39a191;
  text-align: center;
}
.starter-plan-container-comp-topUpFeeParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.starter-plan-container-comp-checkCircleIcon {
  position: relative;
  width: 14px;
  height: 14px;
}
.starter-plan-container-comp-k,
.starter-plan-container-comp-priorityInRequest {
  position: relative;
  letter-spacing: -0.41px;
}
.starter-plan-container-comp-priorityInRequest {
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 302px;
  flex-shrink: 0;
}
.starter-plan-container-comp-k {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  color: #26283f;
  text-align: center;
}
.starter-plan-container-comp-ellipseParent,
.starter-plan-container-comp-frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.starter-plan-container-comp-frameGroup {
  gap: 16px;
  text-align: left;
  font-size: 14px;
  color: #828282;
}
.starter-plan-container-comp-ellipseParent {
  gap: 24px;
  z-index: 0;
}
.starter-plan-container-comp-free {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.starter-plan-container-comp-freeWrapper {
  align-self: stretch;
  border-radius: 8px;
  background-color: #3949a1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 17px 40px;
  z-index: 1;
  text-align: left;
  font-size: 14px;
  color: #fff;
}
.starter-plan-container-comp-imageIcon,
.starter-plan-container-comp-partyingFace {
  position: absolute;
  overflow: hidden;
}
.starter-plan-container-comp-imageIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.starter-plan-container-comp-partyingFace {
  margin: 0 !important;
  top: 52px;
  left: 52px;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  z-index: 2;
}
.starter-plan-container-comp-frameParent {
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px;
  position: relative;
  gap: 40px;
  text-align: center;
  font-size: 20px;
  color: #26283f;
  font-family: Inter;
}
