.pricing-selected-pricingSelectedChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 637px;
  height: 468px;
}
.pricing-selected-back {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  z-index: 0;
}
.pricing-selected-groupChild,
.pricing-selected-groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 32px;
  background-color: #3949a1;
  filter: blur(24px);
  width: 26.4px;
  height: 28px;
}
.pricing-selected-groupItem {
  left: 1.6px;
  background-color: #39a191;
}
.pricing-selected-rectangleGroup,
.pricing-selected-rectangleParent {
  position: absolute;
  margin: 0 !important;
  top: -6px;
  left: 8px;
  width: 28px;
  height: 28px;
  display: none;
  opacity: 0.07;
  z-index: 1;
}
.pricing-selected-rectangleGroup {
  top: 29px;
  left: 107px;
  z-index: 2;
}
.pricing-selected-backParent {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 17px 48px;
  position: relative;
  gap: 8px;
}
.pricing-selected-next {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.pricing-selected-frameParent,
.pricing-selected-nextWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pricing-selected-nextWrapper {
  border-radius: 8px;
  background-color: #3949a1;
  width: 129px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 17px 40px;
  box-sizing: border-box;
  color: #fff;
}
.pricing-selected-frameParent {
  position: absolute;
  top: 1065px;
  left: 108px;
  width: 1224px;
  justify-content: space-between;
}
.pricing-selected-pricingSelected {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1193px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #26283f;
  font-family: Inter;
}
