.spending-issues-form-container-comp-span {
  color: #db242f;
}
.spending-issues-form-container-comp-whatIsYourContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 140%;
  font-weight: 500;
  color: #939393;
}
.spending-issues-form-container-comp-radioButton {
  cursor: pointer;
  position: relative;
  width: 14px;
  height: 14px;
}
.spending-issues-form-container-comp-kPerMonth {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
}
.spending-issues-form-container-comp-radioButtonGroup,
.spending-issues-form-container-comp-radioButtonParent {
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 13px 14px;
  gap: 8px;
}
.spending-issues-form-container-comp-radioButtonParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.spending-issues-form-container-comp-radioButtonGroup {
  align-items: flex-start;
}
.spending-issues-form-container-comp-frameDiv,
.spending-issues-form-container-comp-frameGroup,
.spending-issues-form-container-comp-radioButtonGroup,
.spending-issues-form-container-comp-radioButtonParent1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.spending-issues-form-container-comp-frameGroup {
  align-self: stretch;
  align-items: flex-start;
  gap: 12px;
}
.spending-issues-form-container-comp-frameDiv,
.spending-issues-form-container-comp-radioButtonParent1 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  width: 200px;
  align-items: center;
  padding: 13px 14px;
  gap: 8px;
}
.spending-issues-form-container-comp-radioButtonParent1 {
  align-items: flex-start;
}
.spending-issues-form-container-comp-frameWrapper,
.spending-issues-form-container-comp-whatIsYourAverageMonthlyAParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.spending-issues-form-container-comp-whatIsYourAverageMonthlyAParent {
  flex: 1;
  width: 624px;
  gap: 12px;
}
.spending-issues-form-container-comp-frameWrapper {
  color: #26283f;
}
.spending-issues-form-container-comp-doYouHaveContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.41px;
  line-height: 100%;
  font-weight: 500;
}
.spending-issues-form-container-comp-doYouHaveExperienceWithAgParent,
.spending-issues-form-container-comp-frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.spending-issues-form-container-comp-frameParent1 {
  align-self: stretch;
  flex-direction: row;
  color: #26283f;
}
.spending-issues-form-container-comp-doYouHaveExperienceWithAgParent {
  width: 624px;
  flex-direction: column;
}
.spending-issues-form-container-comp-frameWrapper1 {
  flex-direction: column;
}
.spending-issues-form-container-comp-frameChild,
.spending-issues-form-container-comp-frameParent,
.spending-issues-form-container-comp-frameWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.spending-issues-form-container-comp-frameChild {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  flex-direction: row;
  padding: 13px 14px;
}
.spending-issues-form-container-comp-frameParent {
  flex-direction: column;
  gap: 24px;
  text-align: left;
  font-size: 14px;
  color: #939393;
  font-family: Inter;
}
